{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 5
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "no-empty": "warn",
        "no-redeclare": "warn",
        "no-inner-declarations": "warn",
        "no-constant-condition": "warn",
        "no-unused-vars": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-unreachable": "warn",
        "curly": ["warn", "all"]
    }
}
